	{% load static %}
	<footer class="footer bg-light pt-6">
		<div class="footer-content pb-3">
			<div class="container">
				<div class="row">
					<!-- Footer widget 1 -->
					<div class="col-md-4">
						<div class="widget">
							<a href="http://127.0.0.1:8000/" class="footer-logo">
								<!-- footer SVG logo Start -->
								<img src="{% static 'assets/images/yoggym2.png' %}" alt="Yoggyms Logo" style="width: 100%;height: 100%;" />
								<!-- footer SVG logo End -->
							</a>

						</div>
					</div>
					<!-- Footer widget 2 -->
					<div class="col-md-3 col-sm-6">
						<div class="widget address" style="background-image: url({% static 'assets/images/world-map.png' %}); background-position: 50% 20px; background-repeat: no-repeat; background-size: contain;">
							<ul class="list-unstyled">
								<li class="media mb-3"><i class="mr-3 display-8 ti-map-alt"></i>1421 Coburn Hollow Road Metamora, Near Center Point, IL 61548. </li>
								<li class="media mb-3"><i class="mr-3 display-8 ti-headphone-alt"></i> (251) 854-6308 </li>
								<li class="media mb-3"><i class="mr-3 display-8 ti-email"></i> help@wizixo.com</li>
								<li class="media mb-3"><i class="mr-3 display-8 ti-time"></i>
									<p>Mon - Fri: <strong>09:00 - 21:00</strong> <br>Sat & Sun: <strong>Closed</strong></p>
								</li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 3 -->
					<div class="col-md-2 col-sm-6">
						<div class="widget">
							<h6>Quick LInks</h6>
							<ul class="nav flex-column primary-hover">
								<li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/about">About</a></li>
								<li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/services">Services</a></li>
								<li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/gymCatalog">Gyms</a></li>
								<li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/timeline">Timeline</a></li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 4 -->
					<div class="col-md-3">
						<div class="widget bg-grad p-4 all-text-white border-radius-3">
							<i class="ti-email newsletter-icon"></i>
							<p class="mb-2">Subscribe to our newsletter to receive exclusive offers.</p>
							<div class="form-group mb-0">
								<input class="form-control border-white mb-3" type="email" placeholder="Enter email...">
								<button class="btn btn-dark mb-0">Join us</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer widget 4 -->
			</div>
		</div>
		<div class="divider mt-3"></div>
		<!--footer copyright -->
		<div class="footer-copyright py-3">
			<div class="container">
				<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="copyright-text"><a href="mailto:jafarabbas9044@gmail.com">Developer contact</a></div>
					<!-- copyright links-->
					<div class="copyright-links primary-hover mt-3 mt-md-0">
						<ul class="list-inline">
							<li class="list-inline-item pl-2"><a class="list-group-item-action" href="http://127.0.0.1:8000/">Home</a></li>
							<li class="list-inline-item pl-2"><a class="list-group-item-action" href="http://127.0.0.1:8000/about">About Us</a></li>
							<li class="list-inline-item pl-2"><a class="list-group-item-action" href="http://127.0.0.1:8000/services">Services</a></li>
							<li class="list-inline-item pl-2"><a class="list-group-item-action" href="http://127.0.0.1:8000/timeline">Timeline</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>