{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Yoggyms | Confirm</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700" rel="stylesheet">
<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/themify-icons/css/themify-icons.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animate/animate.min.css' %}" />

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />

</head>

<body>
	<div class="preloader">
		<img src="{% static 'assets/images/preloader.svg' %}" alt="Pre-loader">
	</div>

	<!-- =======================
	header Start-->
	{% include "header-light.html" %}
	<!-- =======================
	header End-->

	<!-- =======================
	Banner innerpage -->
	<div class="innerpage-banner center bg-overlay-dark-7 py-7" style="background:url({% static 'assets/images/bg/04.jpg' %}) no-repeat; background-size:cover; background-position: center center;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h1 class="innerpage-title">Confirm Order</h1>
					<h6 class="subtitle">We offer secure payments with paytm support.</h6>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item active"><a href="http://127.0.0.1:8000/"><i class="ti-home"></i> Home</a></li>
							<li class="breadcrumb-item">Confirm Order</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->


	<!-- =======================
	feature box -->
	<section>
		<div class="container">

			

			<!-- style 3 -->
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2>Order Details</h2>
					<p>Please verify details before payment.</p>
				</div>
				<div class="col-lg-4 mt-4">
					<div class="feature-box f-style-3 h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-panel"></i></div>
						<h3 class="feature-box-title">Personal Details</h3>
						<br><br>
						<div class="row">
							<div class="col-md-4">
								<h5 class="font-weight-bold heading">Name</h5>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-6">
								<h5 class="heading text-muted">{{subData.userId.first_name}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h5 class="font-weight-bold heading">Email</h5>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-6">
								<h5 class="heading text-muted">{{subData.userId.email}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h5 class="font-weight-bold heading">Phone</h5>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-6">
								<h5 class="heading text-muted">{{subData.userId.username}}</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mt-4">
					<div class="feature-box f-style-3 h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-palette"></i></div>
						<h3 class="feature-box-title">Gym Details</h3>
						<br><br>
						<div class="row">
							<div class="col-md-4">
								<h5 class="font-weight-bold heading">Name</h5>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-6">
								<h5 class="heading text-muted">{{subData.gymId.userId.first_name}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h5 class="font-weight-bold heading">Timing</h5>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-6">
								<h5 class="heading text-muted">{{subData.gymId.openingTime}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h5 class="font-weight-bold heading">Address</h5>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-6">
								<address class="font-weight-bold ">{{subData.gymId.houseNo}}, {{subData.gymId.city}}, {{subData.gymId.state}}, {{subData.gymId.pincode}}</address>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mt-4">
					<div class="feature-box f-style-3 h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-gift"></i></div>
						<h3 class="feature-box-title">Plan Details</h3>
						<br><br>
						<div class="row">
							<div class="col-md-4">
								<h5 class="font-weight-bold heading">Name</h5>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-6">
								<h5 class="heading text-muted">{{subData.plan}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h5 class="font-weight-bold heading">Price</h5>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-6">
								{% if subData.plan == "monthly" %}
								<h5 class="heading text-muted">{{subData.gymId.monthlyPrice}}</h5>
								{% elif subData.plan == "quarterly" %}
								<h5 class="heading text-muted">{{subData.gymId.quarterlyPrice}}</h5>
								{% elif subData.plan == "yearly" %}
								<h5 class="heading text-muted">{{subData.gymId.yearlyPrice}}</h5>
								{% else %}
								<h5 class="heading text-muted">{{subData.gymId.halfyearlyPrice}}</h5>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h5 class="font-weight-bold heading">Features</h5>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-6">
								<address class="font-weight-bold ">
								{% if subData.plan == "monthly" %}
								{{subData.gymId.monthlyAbout}}
								{% elif subData.plan == "quarterly" %}
								{{subData.gymId.quarterlyAbout}}
								{% elif subData.plan == "yearly" %}
								{{subData.gymId.yearlyAbout}}
								{% else %}
								{{subData.gymId.halfyearlyAbout}}
								{% endif %}
							</address>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- style 3 end-->

			


		</div>
	</section>

<section class="py-4">
		<div class="container">
			<div class="d-block d-md-flex bg-grad p-4 p-sm-5 all-text-white border-radius-3 pattern-overlay-4">
				<div class="align-self-center text-center text-md-left">
					<h4>I have verified the details.Proceed to Payment!</h4>
					<p class="m-0"></p>
				</div>
				<div class="mt-3 mt-md-0 text-center text-md-right ml-md-auto align-self-center">

 			<form method="post" action="{{url}}" name="paytm_form">
              <span style="display: none">
              {% for name,value in paytmParams.items %}
              <input type="text" name="{{name}}" value="{{value}}">
              {% endfor %}
              <input type="hidden" name="CHECKSUMHASH" value="{{checksum}}">
            </span>
            {% if subData.plan == "monthly" %}
								<button type="submit" class="btn btn-white mb-0">Pay Rs {{subData.gymId.monthlyPrice}}</button>
								{% elif subData.plan == "quarterly" %}
								<button type="submit" class="btn btn-white mb-0">Pay Rs {{subData.gymId.quarterlyPrice}}</button>
								{% elif subData.plan == "yearly" %}
								<button type="submit" class="btn btn-white mb-0">Pay Rs {{subData.gymId.yearlyPrice}}</button>
								{% else %}
								<button type="submit" class="btn btn-white mb-0">Pay Rs {{subData.gymId.halfyearlyPrice}}</button>
			{% endif %}
             
            </form>



					
				</div>
			</div>
		</div>
	</section>
	<!-- <section class="py-4">
		<div class="container">
			<div class="d-block d-md-flex p-4 p-sm-5 all-text-white border-radius-3 bg-overlay-dark-7" style="background:url({% static 'assets/images/bg/04.jpg' %}) no-repeat; background-size:cover; background-position: center center;">
				<div class="align-self-center text-center text-md-left">
					<h4>I have verified the details.Proceed to Payment!</h4>				</div>
				<div class="mt-3 mt-md-0 text-center text-md-right ml-md-auto align-self-center">
					<button class="btn btn-white mb-0">Pay Rs 400</button>
				</div>
			</div>
		</div>
	</section> -->
	<!-- =======================
	feature box -->

	<!-- =======================
	footer  -->
	{% include "footer.html" %}
	<!-- =======================
	footer  -->

	<div> <a href="#" class="back-top btn btn-grad"><i class="ti-angle-up"></i></a> </div>

	<!--Global JS-->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/vendor/popper.js/umd/popper.min.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	<!--Template Functions-->
	<script src="{% static 'assets/js/functions.js' %}"></script>

</body>

</html>