{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Yoggyms | Services</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700" rel="stylesheet">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/themify-icons/css/themify-icons.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animate/animate.min.css' %}" />

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />

</head>

<body>
	<div class="preloader">
		<img src="{% static 'assets/images/preloader.svg' %}" alt="Pre-loader">
	</div>

	{% include "header-light.html" %}
	<!-- =======================
	header End-->


	<!-- =======================
	Banner innerpage -->
	<div class="left bg-dark-grad pattern-overlay-1">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h1 class="font-weight-bold display-4 display-md-1 mb-2 mb-md-n4 mt-9">Our Services</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->


	<!-- =======================
	service -->
	<section class="service">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-ruler-pencil"></i></div>
						<h3 class="feature-box-title">Transfer ownership </h3>
						<p class="feature-box-desc">Added for the benefit of the user so that they can transfer their membership from one gym to another without paying extra money, they can transfer their membership temporally  for 3 -10 days or they can even tranfer it permanently to different institute if they are travelling outstation or they are not happy with current venue without losing their workout schedule.</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-zoom-in"></i></div>
						<h3 class="feature-box-title">Access local Gym</h3>
						<p class="feature-box-desc">This feature is specially added for the user so they can have a new experience of browsing through countless gyms according to their affordability by sitting at their home making  this process comfortable and haste free. Enjoy the best professional trainers and the various features of the gym hence getting the maximum benefit of the value you paid for.</p>
					</div>
				</div>
				
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-announcement"></i></div>
						<h3 class="feature-box-title">Workout schedule</h3>
						<p class="feature-box-desc">This is a unique feature added for every user which is personalised according to their different workout routine which is design by expert trainers in order to achive their fitness goal and dream body. Follow this routine and watch yourself transform in no time.</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-panel"></i></div>

						<h3 class="feature-box-title">BMI Calculator</h3>
						<p class="feature-box-desc">This feature is added for users to help them in planning their fitness journey and keep updating their progress.</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-write"></i></div>
						<h3 class="feature-box-title">Diet Plans</h3>
						<p class="feature-box-desc"> where 80% of the things depend on diet every user will get their personalised diet, specially designed by dietitians to achieve their fitness goal easily.</p>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="feature-box h-100 icon-grad">
						<div class="feature-box-icon"><i class="fa fa-picture-o"></i></div>
						<h3 class="feature-box-title">Timeline</h3>
						<p class="feature-box-desc">  This feature is added to post your workout photos and progress which will give a new experience and a platform to the users on their journey, by exposing them to a countless no. of audience by gaining appreciation.</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- =======================
	service -->

	<!-- =======================
	process-advance -->
	<section class="process-advance bg-light">
		<div class="container">
			<div class="row">
				<!-- process 1 -->
				<div class="col-sm-6 col-lg-3 text-center mb-4">
					<div class="process-border"><span class="process-number bg-grad border-right">01</span></div>
					<h5 class="my-3">Signup</h5>
					<p>Register as a client or gym and get access to all our services.</p>
				</div>
				<!-- process 1 -->
				<div class="col-sm-6 col-lg-3 text-center mb-4">
					<div class="process-border"><span class="process-number bg-grad border-left border-right">02</span></div>
					<h5 class="my-3">Search</h5>
					<p>Find the best gym that suits your needs based on location adn services.</p>
				</div>
				<!-- process 1 -->
				<div class="col-sm-6 col-lg-3 text-center mb-4">
					<div class="process-border"><span class="process-number bg-grad border-left border-right">03</span></div>
					<h5 class="my-3">Join</h5>
					<p>Make payment using for gateway and join the gym.</p>
				</div>
				<!-- process 1 -->
				<div class="col-sm-6 col-lg-3 text-center mb-4">
					<div class="process-border"><span class="process-number bg-grad border-left">04</span></div>
					<h5 class="my-3">Tranfer</h5>
					<p>Transfer from one gym to another whenever required without paying extra.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	process-advance -->


	<!-- =======================
	Service block -->
	<section class="service-block">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-6 align-self-center">
					<div class="title text-left pb-4 p-lg-0 ">
						<h2>Our services reflect our knowledge and in <span class="text-primary"> depth understanding</span></h2>
						<p>YOG (Your Own Gym ),a young startup,  is a leading chain of Gyms & Fitness industry. The portfolio combines of all the essentials of fitness Industry. The Company offers the user to acess their dream fitness in much easier way by providing users to access any of his favorite gym, they'll get the benefit of transferring their ownership in any gym, plus they'll get their independent deit and workout  schedule according to their fitness goal.</p>
						<!-- <div class="row">
							<div class="col-6">
								<ul class="list-group list-group-borderless list-group-icon-primary-bg">
									<li class="list-group-item"><i class="fa fa-check"></i>Up to 10 users monthly</li>
									<li class="list-group-item"><i class="fa fa-check"></i>Unlimited updates</li>
									<li class="list-group-item"><i class="fa fa-check"></i>Free host & domain included</li>
								</ul>
							</div>
							<div class="col-6">
								<ul class="list-group list-group-borderless list-group-icon-primary-bg">
									<li class="list-group-item"><i class="fa fa-check"></i>24/7 dedicated Support </li>
									<li class="list-group-item"><i class="fa fa-check"></i>Unlimited Storage usage</li>
									<li class="list-group-item"><i class="fa fa-check"></i>Up to 10 user register</li>
								</ul>
							</div>
						</div> -->
					</div>
				</div>
				<div class="col-md-10 col-lg-6 mx-md-auto align-self-center">
					<img class="img-fluid" src="{% static 'assets/images/bg/04.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Service block -->

	

	<!-- =======================
	footer  -->
	{% include "footer.html" %}
	<!-- =======================
	footer  -->

	<div> <a href="#" class="back-top btn btn-grad"><i class="ti-angle-up"></i></a> </div>

	<!--Global JS-->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/vendor/popper.js/umd/popper.min.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	<!--Template Functions-->
	<script src="{% static 'assets/js/functions.js' %}"></script>

</body>

</html>