{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Yoggyms | SignUp</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/themify-icons/css/themify-icons.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animate/animate.min.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />

</head>

<body>
	<div class="preloader">
		<img src="{% static 'assets/images/preloader.svg' %}" alt="Pre-loader">
	</div>

	<!-- =======================
		Sign up -->
	<section class="p-0 d-flex align-items-center">
		<div class="container-fluid">
			<div class="row">
				<!-- left -->
				<div class="col-12 col-md-5 col-lg-4 d-md-flex align-items-center bg-grad h-sm-100-vh">
					<div class="w-100 p-3 p-lg-5 all-text-white">
						<div class="justify-content-center align-self-center">
							<!-- SVG Logo Start -->
							<img src="{% static 'assets/images/bazLogo.png' %}">

						</div>
						<h3 class="font-weight-light">We connect you with the world largest community</h3>
						<ul class="list-group list-group-borderless mt-4">
							<li class="list-group-item text-white"><i class="fa fa-check"></i>Connect with your nearby Gyms</li>
							<li class="list-group-item text-white"><i class="fa fa-check"></i>Discover the best experience with yogyms</li>
							<li class="list-group-item text-white"><i class="fa fa-check"></i>Tranfer your gym subscription</li>
							
							<li class="list-group-item text-white"><a class="btn btn-outline-light " href="http://127.0.0.1:8000/signupGym">Do you own a Gym?</a></li>

						</ul>
					</div>
				</div>
				<!-- Right -->
				<div class="col-12 col-md-7 col-xl-8 mx-auto my-5" id="otp_form" style="display:none;">
					<div class="row h-100">
						<div class="col-12 col-md-10 col-lg-5 text-left mx-auto d-flex align-items-center">
							<div class="w-100">
								<h2>Please Enter Otp!</h2>
								<div class="form mt-4 ">
									<div>
										<p class="text-left mb-2">Otp</p>
										<span class="form-group">
											<input type="text" class="form-control" placeholder="Enter Otp" id="EnteredOtp"></span>
									</div>
									<div class="row align-items-center no-gutters m-0">
										<div class="col-6 text-right"><button class="btn btn-dark" id="verifyOtp">Sign me up!</button></div>
									</div>
									
									</div>

								</div>
							</div>
						</div>
					</div>
				
				<div class="col-12 col-md-7 col-xl-8 mx-auto my-5" id="main_form">
					<div class="row h-100">
						<div class="col-12 col-md-10 col-lg-5 text-left mx-auto d-flex align-items-center">
							<div class="w-100">
								<h2>Sign up for your account!</h2>
								<h5 class="font-weight-light">Join us today! Create your account easy with less information.</h5>
								<form method="POST" action="http://127.0.0.1:8000/signupClient" id="myForm">
									{% csrf_token %}
								<div class="form mt-4 ">
									<div>
										<p class="text-left mb-2">Full Name</p>
										<span class="form-group">
											<input type="text" name="first_name" class="form-control" placeholder="Full Name"></span>
									</div>
									<div>
										<p class="text-left mb-2">Email address</p>
										<p class="text-left mb-2" id="copy_email" style="color:red;"></p>
										<span class="form-group">
											<input type="email" name="email" class="form-control" placeholder="E-mail"id="email"></span>
									</div>
									<div>
										<div class="align-items-center">
											<p class="text-left mb-2">Phone</p>
											<p class="text-left mb-2" id="copy_username" style="color:red;"></p>
										</div>
										<span class="form-group"><input type="text" name="username" class="form-control" placeholder="9999999999" id="username"></span>
									</div>
									<div>
										<div class="align-items-center">
											<p class="text-left mb-2">Password</p>
										</div>
										<span class="form-group"><input type="password" class="form-control" name="password" placeholder="*********"></span>
									</div>
									<div class="row align-items-center no-gutters m-0">
										<div class="col-6"><span class="text-muted">Already on yoggyms? <a href="http://127.0.0.1:8000/signin">Sign in</a></span></div>
										<div class="col-6 text-right"><button class="btn btn-dark" id="sendOtp">Sign me up!</button></div>
									</form>
									</div>

								</div>
							</div>
						</div>
				
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Sign up -->

	<!--Global JS-->
	<script src="{% static 'assets/vendor/popper.js/umd/popper.min.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	<!--Template Functions-->
	<script src="{% static 'assets/js/functions.js' %}"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>
  <script type="text/javascript">
  	var firebaseConfig = {
     apiKey: "AIzaSyCQy28B4ld_UHl5xXIBZZr9rO64-eiJLoM",
    authDomain: "yoggyms.firebaseapp.com",
    databaseURL: "https://yoggyms.firebaseio.com",
    projectId: "yoggyms",
    storageBucket: "yoggyms.appspot.com",
    messagingSenderId: "618578641113",
    appId: "1:618578641113:web:4c722f69306cddf97ffec8",
    measurementId: "G-3K6NCYJZNX"
    };
  	firebase.initializeApp(firebaseConfig);
	var db = firebase.firestore();

  	firebase.auth().useDeviceLanguage();
  	window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('username', {
  'size': 'invisible',
  'callback': function(response) {
    // reCAPTCHA solved, allow signInWithPhoneNumber.
/*    onSignInSubmit();
*/  }
});
		$("#sendOtp").click(function(e) {
			document.getElementById("copy_username").innerHTML="";
			document.getElementById("copy_email").innerHTML="";
          e.preventDefault();    
          $.get("http://127.0.0.1:8000/validateForm/"+document.getElementById("email").value, function(data, status)
          	{
		       if(data == "okay")
		       		{
			          	$.get("http://127.0.0.1:8000/validateForm/"+document.getElementById("username").value, function(data, status)
			          		{
					           if(data=="okay")
					           		{
					           			alert("yayyy");
					           			onSignInSubmit();
					           		}
				           	 	else
				           	 		{
					          			document.getElementById("copy_username").innerHTML="Username Already Registered";
					          		}
					           
			        		});
		          }
		          else
		          		{
		          			document.getElementById("copy_email").innerHTML="Email Already Registered";
		          		}
          	});
      });
     function onSignInSubmit(){

 var phoneNumber = document.getElementById("username").value;
var appVerifier = window.recaptchaVerifier;
firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
    .then(function (confirmationResult) {
      // SMS sent. Prompt user to type the code from the message, then sign the
      // user in with confirmationResult.confirm(code).
      window.confirmationResult = confirmationResult;
       alert("Sent   YAYAYAY");
       document.getElementById("otp_form").style.display = "block";
       document.getElementById("main_form").style.display = "none";
      
    }).catch(function (error) {
    	console.log(error);
     grecaptcha.reset(window.recaptchaWidgetId);
		// Or, if you haven't stored the widget ID:
		window.recaptchaVerifier.render().then(function(widgetId) {
		  grecaptcha.reset(widgetId);
		   alert("Not sent Nooooo");
		});
    });
}
$("#verifyOtp").click(function(e) {
	verifyOtp();
});
function verifyOtp(){
    debugger
	var code = document.getElementById("EnteredOtp").value;
    confirmationResult.confirm(code).then(function (result) {
  alert("YAYAYAY");
  var user = result.user;
  	document.getElementById("myForm").submit();

}).catch(function (error) {
  alert("NOOOOOOOOO");
});
}
    </script>


</body>

</html>



