{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Yoggyms | Gym Requests</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700" rel="stylesheet">
<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/themify-icons/css/themify-icons.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animate/animate.min.css' %}" />

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />

</head>

<body>
	<div class="preloader">
		<img src="{% static 'assets/images/preloader.svg' %}" alt="Pre-loader">
	</div>

	<!-- =======================
	header Start-->
	{% include "header-light.html" %}
	<!-- =======================
	header End-->


	<!-- =======================
	Banner innerpage -->
	<div class="text-center bg-overlay-dark-4" style="background:url({% static 'assets/images/bg/05.jpg' %}) no-repeat; background-size: cover; background-position: center center;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h4 class="display-6 mt-9 mb-0">Gym Requets</h4>
					<h1 class="font-weight-bold display-4 display-md-1 mb-2 mb-md-n4">Editor</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->

	<!-- =======================
	contact -->
	<section class="contact-page">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						
						
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-sm-12 mb-5">
					<div class="table-responsive-sm">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Gym Name</th>
									<th scope="col">Owner</th>
									<th scope="col">Address</th>
									<th scope="col">Edit Details</th>
									<th scope="col">Add/Remove Images</th>
								</tr>
							</thead>
							<tbody>
								{% if gymList %}
								{% for k in gymList %}
								<tr>
									<th scope="row">{{k.userId.first_name}}</th>
									<td>{{k.userId.last_name}}</td>
									<td>{{k.gymData.houseNo}}, {{k.gymData.city}}, {{k.gymData.state}}, {{k.gymData.country}}, {{k.gymData.pincode}}</td>
									<td><a class="btn btn-link" href="http://127.0.0.1:8000/EditGym/{{k.id}}">Edit</a></td>
									<td><a class="btn btn-link" href="http://127.0.0.1:8000/EditGymImages/{{k.gymData.id}}">Image</a></td>
								</tr>
								{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</section>
	{% include "footer.html" %}
	<!-- =======================
	footer  -->

	<div> <a href="#" class="back-top btn btn-grad"><i class="ti-angle-up"></i></a> </div>

	<!--Global JS-->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/vendor/popper.js/umd/popper.min.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	<!-- Google Map -->
	<script src="{% static 'assets/vendor/map/map.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtF5lHSU7Y7c2BYl_c4-G9bSi44h1X9Ls"></script>

	<!--Template Functions-->
	<script src="{% static 'assets/js/functions.js' %}"></script>

</body>

</html>